{% include 'sitio/cabecera.html' %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container" id="miContenedor"  >
                <div class="masthead-heading text-uppercase " style="margin:3px; border-radius: 15px; ">Paginas Web para </div>
                <div class="masthead-heading text-uppercase" style="border-radius: 15px; ">tu emprendimiento</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#servicios">Pedi tu Web</a>
            </div>
        </header>
{% include 'sitio/servicios.html'%}
{% include 'sitio/portafolio.html'%}
{% include 'sitio/team.html'%}
{% include 'sitio/about.html'%}
{% include 'sitio/contacto.html'%}
{% include 'sitio/footer.html'%}
{% include 'sitio/pie.html'%}