{% include 'sitio/cabecera.html' %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container" >
                <div class="masthead-heading text-uppercase">Paginas Web para tu emprendimiento</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#servicios">Pedi tu Web</a>
            </div>
        </header>
{% include 'sitio/servicios.html'%}
{% include 'sitio/portafolio.html'%}
{% include 'sitio/team.html'%}
{% include 'sitio/about.html'%}
{% include 'sitio/contacto.html'%}
{% include 'sitio/footer.html'%}
{% include 'sitio/pie.html'%}