<!-- Services-->
<section class="page-section" id="servicios">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Servicios</h2>
            <h3 class="section-subheading text-muted">Contame tu idea y desarrollamos el mejor camino al exito</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa-solid fa-window-maximize fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Diseño Web</h4>
                <p class="text-muted">Aumenta el alcance de tu marca con tu propio sitio web y multiplica tus ventas con una tienda online.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Mantenimiento Web</h4>
                <p class="text-muted">Delega el mantenimiento de tu web y asegúrate de que funcione perfecto. Me encargo de tener todo 100% optimizado.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa-solid fa-envelope-open-text fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Email Marketing</h4>
                <p class="text-muted">Envía emails a una base de datos para fidelizar a tu público e incrementar</p>
            </div>
        </div>
    </div>
</section>